<!-- app/views/user_mailer/welcome.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>登録完了</h1>
    <p><%= @name %>様</p>
    <p>ユーザ登録が完了しました。</p>
  </body>
</html>
